In [1]:
import pandas as pd

# Substitua 'nome_do_arquivo.csv' pelo nome do seu arquivo
caminho_arquivo = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT1\KT1\u5.csv'
df = pd.read_csv(caminho_arquivo)

# Exibe as primeiras linhas do DataFrame para verificar o carregamento
print(df.head())

       timestamp  solving_id question_id user_answer  elapsed_time
0  1546437487910           1       q5956           c         50000
1  1546437515076           2       q1114           b         23000
2  1546437532942           3        q784           b         16000
3  1546437556636           4       q5627           a         21000
4  1546437605933           5       q5055           b         47000

In [3]:
import pandas as pd
import glob
import os

# Defina o caminho da pasta onde estão os arquivos CSV
caminho_pasta = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT1\KT1'
caminho_arquivos = os.path.join(caminho_pasta, '*.csv')

# Use glob para encontrar todos os arquivos CSV na pasta
arquivos_csv = glob.glob(caminho_arquivos)

# Crie uma lista para armazenar os DataFrames
dataframes = []

# Carregue cada arquivo CSV e adicione o DataFrame à lista
for arquivo in arquivos_csv:
    df = pd.read_csv(arquivo)
    dataframes.append(df)

# Opcional: Combine todos os DataFrames em um único DataFrame (caso tenham o mesmo formato)
df_combinado = pd.concat(dataframes, ignore_index=True)

# Exibe as primeiras linhas do DataFrame combinado para verificar
print(df_combinado.head())

       timestamp  solving_id question_id user_answer  elapsed_time
0  1549164018798           1       q8679           a         32000
1  1549164148762           2        q417           a         23000
2  1549164183149           3       q6446           c         31000
3  1549164209425           4        q190           c         23000
4  1549164221679           5       q5384           a          9000

In [5]:
df_combinado

              timestamp  solving_id question_id user_answer  elapsed_time
0         1549164018798           1       q8679           a         32000
1         1549164148762           2        q417           a         23000
2         1549164183149           3       q6446           c         31000
3         1549164209425           4        q190           c         23000
4         1549164221679           5       q5384           a          9000
...                 ...         ...         ...         ...           ...
32586411  1515887021543          15       q6952           a         29500
32586412  1515887186138          16       q7335           b         40750
32586413  1515887186816          16       q7336           d         40750
32586414  1515887187327          16       q7337           b         40750
32586415  1515887187772          16       q7338           c         40750

[32586416 rows x 5 columns]

In [9]:
df_combinado.to_csv('final.txt', sep='\t', index=False)

In [11]:
import pandas as pd

df = pd.read_csv('final.txt', sep='\t')

# Exibe as primeiras linhas do DataFrame para verificar o carregamento
print(df.head())

       timestamp  solving_id question_id user_answer  elapsed_time
0  1549164018798           1       q8679           a         32000
1  1549164148762           2        q417           a         23000
2  1549164183149           3       q6446           c         31000
3  1549164209425           4        q190           c         23000
4  1549164221679           5       q5384           a          9000

In [13]:
df.head()

       timestamp  solving_id question_id user_answer  elapsed_time
0  1549164018798           1       q8679           a         32000
1  1549164148762           2        q417           a         23000
2  1549164183149           3       q6446           c         31000
3  1549164209425           4        q190           c         23000
4  1549164221679           5       q5384           a          9000

## Estrutura do conteúdo do dataset

### Dataset KT1
Leitura do primeiro arquivo como exemplo

In [ ]:
import pandas as pd

coupons = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-KT1/u5.csv')
coupons.head()

## Considerando parte da base KT1
O dataset EdNet-KT1 possui **268.683 usuários/arquivos**, neste caso, serão considerados os **10.000 usuários** com mais interações

In [28]:
import pandas as pd
import glob
import os

# Defina o caminho da pasta onde estão os arquivos CSV
caminho_pasta = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT1\KT1'
caminho_arquivos = os.path.join(caminho_pasta, '*.csv')

# Use glob para encontrar todos os arquivos CSV na pasta
arquivos_csv = glob.glob(caminho_arquivos)

# Ordenar os arquivos pelo tamanho (do maior para o menor)
arquivos_csv = sorted(arquivos_csv, key=os.path.getsize, reverse=True)

# Limite para os 10000 maiores arquivos
arquivos_csv = arquivos_csv[:10000]

# Crie uma lista para armazenar os DataFrames
dataframes = []

# Carregue cada arquivo CSV e adicione o DataFrame à lista
for arquivo in arquivos_csv:
    # Lê o arquivo CSV
    df = pd.read_csv(arquivo)
    
    # Adiciona uma coluna com o nome do arquivo (sem o caminho completo)
    df['codigo_arquivo'] = os.path.basename(arquivo)
    
    # Adiciona o DataFrame à lista
    dataframes.append(df)

# Opcional: Combine todos os DataFrames em um único DataFrame (caso tenham o mesmo formato)
kt1 = pd.concat(dataframes, ignore_index=True)

# Exibe as primeiras linhas do DataFrame combinado para verificar
print(kt1.head())

       timestamp  solving_id question_id user_answer  elapsed_time  \
0  1502403502087           1       q5759           a         30000
1  1502403545011           2       q5783           d         42000
2  1502403595590           3       q5410           c         49000
3  1502403715981           4       q6432           b        119000
4  1502403756496           5       q6482           a         39000

  codigo_arquivo
0     u23408.csv
1     u23408.csv
2     u23408.csv
3     u23408.csv
4     u23408.csv

In [35]:
kt1.to_csv('kt1.txt', sep='\t', index=False, header=False)

KeyboardInterrupt:

In [ ]:
import pandas as pd
import glob
import os

# Defina o caminho da pasta onde estão os arquivos CSV
caminho_pasta = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT1\KT1'
caminho_arquivos = os.path.join(caminho_pasta, '*.csv')

# Use glob para encontrar todos os arquivos CSV na pasta
arquivos_csv = glob.glob(caminho_arquivos)

# Ordenar os arquivos pelo tamanho (do maior para o menor)
arquivos_csv = sorted(arquivos_csv, key=os.path.getsize, reverse=True)

# Limite para os 10000 maiores arquivos
arquivos_csv = arquivos_csv[:50]

# Crie uma lista para armazenar os DataFrames
dataframes = []

# Carregue cada arquivo CSV e adicione o DataFrame à lista
for arquivo in arquivos_csv:
    # Lê o arquivo CSV
    df = pd.read_csv(arquivo)
    
    # Adiciona uma coluna com o nome do arquivo (sem o caminho completo)
    df['codigo_arquivo'] = os.path.basename(arquivo)
    
    # Adiciona o DataFrame à lista
    dataframes.append(df)

# Opcional: Combine todos os DataFrames em um único DataFrame (caso tenham o mesmo formato)
kt12 = pd.concat(dataframes, ignore_index=True)

# Exibe as primeiras linhas do DataFrame combinado para verificar
print(kt12.head())

### Dataset *contents*

In [8]:
import pandas as pd

coupons = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/coupons.csv')
coupons.head()

  coupon_id coupon_type     duration
0        c1      type-0   4320000000
1        c2      type-0   5184000000
2        c3      type-0   7776000000
3        c4      type-0   8640000000
4        c5      type-0  15552000000

In [10]:
import pandas as pd

lectures = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/lectures.csv')
lectures.head()

  lecture_id  part  tags  video_length    deployed_at
0       l520     5   142            -1             -1
1       l592     6   142            -1             -1
2      l1259     1   222        359000  1570424729123
3      l1260     1   220        487000  1570424738105
4      l1261     1   221        441000  1570424743162

In [12]:
import pandas as pd

payments = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/payments.csv')
payments.head()

  payment_item_id   type    duaration  number_of_questions
0              p1   pass   5184000000                   -1
1              p2   pass  15552000000                   -1
2              p3   pass  31536000000                   -1
3              p4  paygo           -1                 2000
4              p5   pass   5184000000                   -1

In [14]:
import pandas as pd

questions = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/questions.csv')
questions.head()

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,q1,b1,e1,b,1,1;2;179;181,1558093217098
1,q2,b2,e2,a,1,15;2;182,1558093219720
2,q3,b3,e3,b,1,14;2;179;183,1558093222784
3,q4,b4,e4,b,1,9;2;179;184,1558093225357
4,q5,b5,e5,c,1,8;2;179;181,1558093228439

In [20]:
print("Total de registros de cada dataframe:")
print("Coupons: ",len(coupons))
print("Lectures: ", len(lectures))
print("Payments: ", len(payments))
print("Questions: ", len(questions))

Total de registros de cada dataframe:
Coupons:  91
Lectures:  1021
Payments:  190
Questions:  13169