# Recomendação - Recursos Semelhantes
Por meio de algoritmo de **Filtragem Baseada em Conteúdo**, recomendar recursos educacionais similares, baseado nas características desses recursos

In [1]:
import pandas as pd

kt1 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt1.txt',sep='\t')
kt2 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt2.txt',sep='\t')
kt3 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt3.txt',sep='\t')
kt4 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt4.txt',sep='\t')

In [3]:
kt1.head()

,Unnamed: 0,timestamp,solving_id,question_id,user_answer,elapsed_time,codigo_arquivo,usuario
0,0,1546437487910,1,q5956,c,50000,u5.csv,u5
1,1,1546437515076,2,q1114,b,23000,u5.csv,u5
2,2,1546437532942,3,q784,b,16000,u5.csv,u5
3,3,1546437556636,4,q5627,a,21000,u5.csv,u5
4,4,1546437605933,5,q5055,b,47000,u5.csv,u5

In [5]:
kt2.head()

,Unnamed: 0,timestamp,action_type,item_id,source,user_answer,platform,codigo_arquivo,usuario
0,0,1567144866991,enter,b4484,diagnosis,NaN,mobile,u8.csv,u8
1,1,1567144890954,respond,q5952,diagnosis,a,mobile,u8.csv,u8
2,2,1567144897002,submit,b4484,diagnosis,NaN,mobile,u8.csv,u8
3,3,1567144897077,enter,b3176,diagnosis,NaN,mobile,u8.csv,u8
4,4,1567144934774,respond,q4644,diagnosis,b,mobile,u8.csv,u8

In [50]:
kt2['action_type'].unique()

array(['enter', 'respond', 'submit'], dtype=object)

In [7]:
kt3.head()

,Unnamed: 0,timestamp,action_type,item_id,source,user_answer,platform,codigo_arquivo,usuario
0,0,1566532547478,enter,b5298,my_note,NaN,web,u5.csv,u5
1,1,1566532582693,respond,q7242,my_note,a,web,u5.csv,u5
2,2,1566532645820,respond,q7243,my_note,a,web,u5.csv,u5
3,3,1566532707773,respond,q7244,my_note,a,web,u5.csv,u5
4,4,1566532753222,respond,q7245,my_note,c,web,u5.csv,u5

In [52]:
kt3['action_type'].unique()

array(['enter', 'respond', 'submit', 'quit'], dtype=object)

In [9]:
kt4.head()

,Unnamed: 0,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,codigo_arquivo,usuario
0,0,1565651017866,pay,p130,NaN,NaN,NaN,NaN,u5.csv,u5
1,1,1566532547478,enter,b5298,NaN,my_note,NaN,web,u5.csv,u5
2,2,1566532582693,respond,q7242,NaN,my_note,a,web,u5.csv,u5
3,3,1566532645820,respond,q7243,NaN,my_note,a,web,u5.csv,u5
4,4,1566532707773,respond,q7244,NaN,my_note,a,web,u5.csv,u5

In [54]:
kt4['action_type'].unique()

array(['pay', 'enter', 'respond', 'submit', 'quit', 'erase_choice',
       'play_video', 'pause_video', 'play_audio', 'pause_audio',
       'undo_erase_choice', 'enroll_coupon', 'refund'], dtype=object)

In [66]:
kt4.loc[kt4.action_type == 'play_video', ['usuario', 'item_id']]

        usuario item_id
101          u5    l588
203          u5    l550
213          u5    l533
269          u5    l552
317          u5    l524
...         ...     ...
4101737   u2877    l520
4101739   u2877    l520
4111223   u2878    l629
4111225   u2878    l629
4111311   u2878    l537

[66482 rows x 2 columns]

In [70]:
kt4.loc[kt4.item_id == 'l588', ['usuario', 'action_type','timestamp']]

        usuario  action_type      timestamp
100          u5        enter  1567062982588
101          u5   play_video  1567062989359
102          u5  pause_video  1567063314786
103          u5         quit  1567063859098
469437     u296   play_video  1571730391375
...         ...          ...            ...
3201734   u2070         quit  1560335704371
3427301   u2277        enter  1565186351011
3427302   u2277   play_video  1565186359474
3427303   u2277  pause_video  1565186685620
3427304   u2277         quit  1565186690440

[202 rows x 3 columns]

In [11]:
lectures = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/lectures.csv')
lectures.head()

  lecture_id  part  tags  video_length    deployed_at
0       l520     5   142            -1             -1
1       l592     6   142            -1             -1
2      l1259     1   222        359000  1570424729123
3      l1260     1   220        487000  1570424738105
4      l1261     1   221        441000  1570424743162

In [13]:
questions = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/questions.csv')
questions.head()

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,q1,b1,e1,b,1,1;2;179;181,1558093217098
1,q2,b2,e2,a,1,15;2;182,1558093219720
2,q3,b3,e3,b,1,14;2;179;183,1558093222784
3,q4,b4,e4,b,1,9;2;179;184,1558093225357
4,q5,b5,e5,c,1,8;2;179;181,1558093228439

### Similaridade de *lectures* baseada nas interações do KT4

#### Filtrando somente as interações do tipo "play" lectures

In [78]:
data = kt4.loc[kt4['action_type']=='play_video']

In [82]:
# Removendo automaticamente as colunas 'Unnamed'
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [90]:
print(len(kt4['usuario'].unique()))

856

In [88]:
print(len(data['usuario'].unique()))

719

In [92]:
data

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,codigo_arquivo,usuario
101,1567062989359,play_video,l588,12.0,my_note,NaN,web,u5.csv,u5
203,1567068076248,play_video,l550,59.0,adaptive_offer,NaN,web,u5.csv,u5
213,1567068248603,play_video,l533,21.0,adaptive_offer,NaN,web,u5.csv,u5
269,1567069140503,play_video,l552,20.0,adaptive_offer,NaN,web,u5.csv,u5
317,1567069859599,play_video,l524,47.0,adaptive_offer,NaN,web,u5.csv,u5
...,...,...,...,...,...,...,...,...,...
4101737,1567206122336,play_video,l520,350932.0,archive,NaN,mobile,u2877.csv,u2877
4101739,1567206137355,play_video,l520,388775.0,archive,NaN,mobile,u2877.csv,u2877
4111223,1561980703165,play_video,l629,0.0,adaptive_offer,NaN,mobile,u2878.csv,u2878
4111225,1561980945721,play_video,l629,230197.0,adaptive_offer,NaN,mobile,u2878.csv,u2878
4111311,1564229240830,play_video,l537,0.0,adaptive_offer,NaN,mobile,u2878.csv,u2878

In [98]:
data = data[['item_id','usuario']]

In [102]:
data = data.reset_index(drop=True)

In [169]:
data

      item_id usuario
0        l588      u5
1        l550      u5
2        l533      u5
3        l552      u5
4        l524      u5
...       ...     ...
66477    l520   u2877
66478    l520   u2877
66479    l629   u2878
66480    l629   u2878
66481    l537   u2878

[66482 rows x 2 columns]

#### Separando o dataset em conjunto de treinamento e teste

In [113]:
# Contando o número de ocorrências de usuário
class_counts = data['usuario'].value_counts()

# Exibindo as classes com menos de 2 amostras
classes_com_poucas_amostras = class_counts[class_counts < 2]
print(len(classes_com_poucas_amostras))

45

In [115]:
# Contando o número de ocorrências de item
class_counts = data['item_id'].value_counts()

# Exibindo as classes com menos de 2 amostras
classes_com_poucas_amostras = class_counts[class_counts < 2]
print(len(classes_com_poucas_amostras))

28

In [175]:
# Filtrar usuarios com poucas amostras
class_counts = data['usuario'].value_counts()
classes_to_remove = class_counts[class_counts < 2].index
data_filtrado = data[~data['usuario'].isin(classes_to_remove)].copy()
data_filtrado

      item_id usuario
0        l588      u5
1        l550      u5
2        l533      u5
3        l552      u5
4        l524      u5
...       ...     ...
66477    l520   u2877
66478    l520   u2877
66479    l629   u2878
66480    l629   u2878
66481    l537   u2878

[66437 rows x 2 columns]

In [177]:
# Filtrar itens com poucas amostras
class_counts = data_filtrado['item_id'].value_counts()
classes_to_remove = class_counts[class_counts < 2].index
data_filtrado = data_filtrado[~data_filtrado['item_id'].isin(classes_to_remove)].copy()
data_filtrado

      item_id usuario
0        l588      u5
1        l550      u5
2        l533      u5
3        l552      u5
4        l524      u5
...       ...     ...
66477    l520   u2877
66478    l520   u2877
66479    l629   u2878
66480    l629   u2878
66481    l537   u2878

[66409 rows x 2 columns]

In [179]:
### Adicionando nota (rating)
data_filtrado['rating'] = 5

In [181]:
data_filtrado

      item_id usuario  rating
0        l588      u5       5
1        l550      u5       5
2        l533      u5       5
3        l552      u5       5
4        l524      u5       5
...       ...     ...     ...
66477    l520   u2877       5
66478    l520   u2877       5
66479    l629   u2878       5
66480    l629   u2878       5
66481    l537   u2878       5

[66409 rows x 3 columns]

In [183]:
import pandas as pd

# Mapeando item_id para números
data_filtrado['item_id_num'], unique_item_ids = pd.factorize(data_filtrado['item_id'])

# Mapeando usuario para números
data_filtrado['usuario_num'], unique_users = pd.factorize(data_filtrado['usuario'])

# Exibindo os resultados
print(data_filtrado)

# Mostrando os valores únicos para referência
print("\nValores únicos para item_id:", unique_item_ids)
print("Valores únicos para usuario:", unique_users)

      item_id usuario  rating  item_id_num  usuario_num
0        l588      u5       5            0            0
1        l550      u5       5            1            0
2        l533      u5       5            2            0
3        l552      u5       5            3            0
4        l524      u5       5            4            0
...       ...     ...     ...          ...          ...
66477    l520   u2877       5          711          672
66478    l520   u2877       5          711          672
66479    l629   u2878       5           35          673
66480    l629   u2878       5           35          673
66481    l537   u2878       5          277          673

[66409 rows x 5 columns]

Valores únicos para item_id: Index(['l588', 'l550', 'l533', 'l552', 'l524', 'l532', 'l689', 'l447', 'l684',
       'l273',
       ...
       'l687', 'l668', 'l1254', 'l1325', 'l1327', 'l1328', 'l110', 'l100',
       'l178', 'l696'],
      dtype='object', length=804)
Valores únicos para usuario: Index(['u5', 'u20', 'u53', 'u61', 'u64', 'u82', 'u83', 'u98', 'u113', 'u117',
       ...
       'u2835', 'u2839', 'u2848', 'u2851', 'u2852', 'u2853', 'u2868', 'u2870',
       'u2877', 'u2878'],
      dtype='object', length=674)

In [189]:
data_final = data_filtrado[['item_id_num','usuario_num','rating']]
data_final

       item_id_num  usuario_num  rating
0                0            0       5
1                1            0       5
2                2            0       5
3                3            0       5
4                4            0       5
...            ...          ...     ...
66477          711          672       5
66478          711          672       5
66479           35          673       5
66480           35          673       5
66481          277          673       5

[66409 rows x 3 columns]

In [193]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(data_final, test_size=0.2, random_state=42, stratify=data_final['usuario_num'])

df_train.to_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/dados_treinamento/kt4_train.dat', sep='\t', index=False, header=False)
df_test.to_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/dados_treinamento/kt4_teste.dat', sep='\t', index=False, header=False)

In [195]:
from caserec.recommenders.item_recommendation.userknn import UserKNN

UserKNN('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/dados_treinamento/kt4_train.dat','D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/dados_treinamento/kt4_teste.dat','D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/dados_treinamento/output_userknn_kt4.txt', k_neighbors=5).compute()

[Case Recommender: Item Recommendation > UserKNN Algorithm]

train data:: 804 users and 674 items (53127 interactions) | sparsity:: 90.20%
test data:: 750 users and 646 items (13282 interactions) | sparsity:: 97.26%

training_time:: 0.384950 sec
prediction_time:: 1.342933 sec


Eval:: PREC@1: 0.173333 PREC@3: 0.125333 PREC@5: 0.0944 PREC@10: 0.061467 RECALL@1: 0.026581 RECALL@3: 0.048389 RECALL@5: 0.058253 RECALL@10: 0.070787 MAP@1: 0.173333 MAP@3: 0.224 MAP@5: 0.227528 MAP@10: 0.225658 NDCG@1: 0.173333 NDCG@3: 0.27084 NDCG@5: 0.280662 NDCG@10: 0.287721

#### Analisando alguns resultados

In [212]:
import pandas as pd

# Corrigindo o erro
output = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset/dados_treinamento/output_userknn_kt4.txt',
                     sep='\t')

# Verificando o DataFrame resultante
print(output.head())

   0  367  0.678864
0  0   33  0.372678
1  0   48  0.372678
2  0  158  0.372678
3  0  184  0.372678
4  0  263  0.372678