# Recomendação - Recursos Semelhantes
Por meio de algoritmo de **Filtragem Baseada em Conteúdo**, recomendar recursos educacionais similares, baseado nas características desses recursos

In [11]:
import pandas as pd

kt1 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt1.txt',sep='\t')
kt2 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt2.txt',sep='\t')
kt3 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt3.txt',sep='\t')
kt4 = pd.read_csv(r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\compacto\kt4.txt',sep='\t')

In [9]:
kt1.head()

,Unnamed: 0,timestamp,solving_id,question_id,user_answer,elapsed_time,codigo_arquivo,usuario
0,0,1546437487910,1,q5956,c,50000,u5.csv,u5
1,1,1546437515076,2,q1114,b,23000,u5.csv,u5
2,2,1546437532942,3,q784,b,16000,u5.csv,u5
3,3,1546437556636,4,q5627,a,21000,u5.csv,u5
4,4,1546437605933,5,q5055,b,47000,u5.csv,u5

In [13]:
kt2.head()

,Unnamed: 0,timestamp,action_type,item_id,source,user_answer,platform,codigo_arquivo,usuario
0,0,1567144866991,enter,b4484,diagnosis,NaN,mobile,u8.csv,u8
1,1,1567144890954,respond,q5952,diagnosis,a,mobile,u8.csv,u8
2,2,1567144897002,submit,b4484,diagnosis,NaN,mobile,u8.csv,u8
3,3,1567144897077,enter,b3176,diagnosis,NaN,mobile,u8.csv,u8
4,4,1567144934774,respond,q4644,diagnosis,b,mobile,u8.csv,u8

In [15]:
kt3.head()

,Unnamed: 0,timestamp,action_type,item_id,source,user_answer,platform,codigo_arquivo,usuario
0,0,1566532547478,enter,b5298,my_note,NaN,web,u5.csv,u5
1,1,1566532582693,respond,q7242,my_note,a,web,u5.csv,u5
2,2,1566532645820,respond,q7243,my_note,a,web,u5.csv,u5
3,3,1566532707773,respond,q7244,my_note,a,web,u5.csv,u5
4,4,1566532753222,respond,q7245,my_note,c,web,u5.csv,u5

In [17]:
kt4.head()

,Unnamed: 0,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,codigo_arquivo,usuario
0,0,1565651017866,pay,p130,NaN,NaN,NaN,NaN,u5.csv,u5
1,1,1566532547478,enter,b5298,NaN,my_note,NaN,web,u5.csv,u5
2,2,1566532582693,respond,q7242,NaN,my_note,a,web,u5.csv,u5
3,3,1566532645820,respond,q7243,NaN,my_note,a,web,u5.csv,u5
4,4,1566532707773,respond,q7244,NaN,my_note,a,web,u5.csv,u5